black
dataclasses-json
h5py
huggingface-hub
isort
jax
jupyter
jupyter_http_over_ws
matplotlib
mypy
numpy
pandas
plotly
protobuf
pytest
requests
seaborn
statsmodels
torch
tqdm
transformers
types-requests
python-dotenv
